<div class="seocards seocontainer">


  <%= link_to polo_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711806582/3dvisu-XnwC7-9SZf4-unsplash_xuu0oy.jpg); height: 100%; width: 100%;">
      <span>Polo</span>
    </div>
  <% end %>

  <%= link_to golf_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711806580/martin-katler-SuD4h8Gpgok-unsplash_ggebds.jpg); height: 100%; width: 100%;">
      <span>Golf</span>
    </div>
  <% end %>

  <%= link_to tiguan_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711806584/unnamed_tihgpj.jpg); height: 100%; width: 100%;">
      <span>Tiguan</span>
    </div>
  <% end %>

  <%= link_to touareg_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711806582/captivating-ride-with-a-volkswagen-touareg-8dy2ctaugaekcvhd_rse1ni.jpg); height: 100%; width: 100%;">
      <span>Touareg</span>
    </div>
  <% end %>

  <%= link_to t7california_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600529/VW_California_Beach_Tour__T7____h_01012025_aiaywu.jpg); height: 100%; width: 100%;">
      <span>California T7</span>
    </div>
  <% end %>

  <%= link_to id3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600529/Volkswagen_ID.3_at_IAA_2019_IMG_0212_bxjila.jpg); height: 100%; width: 100%;">
      <span>ID.3</span>
    </div>
  <% end %>

</div>
