<div class="seocards seocontainer">


  <%= link_to polo_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711806582/3dvisu-XnwC7-9SZf4-unsplash_xuu0oy.jpg); height: 100%; width: 100%;">
      <span>Polo</span>
    </div>
  <% end %>

  <%= link_to golf_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711806580/martin-katler-SuD4h8Gpgok-unsplash_ggebds.jpg); height: 100%; width: 100%;">
      <span>Golf</span>
    </div>
  <% end %>

  <%= link_to tcross_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711806582/yeni-2022-volkswagen-t-cross-turkiye-fiyati-belli-oldu145239_0_jy3zt7.jpg); height: 100%; width: 100%;">
      <span>T-Cross</span>
    </div>
  <% end %>

  <%= link_to tiguan_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711806584/unnamed_tihgpj.jpg); height: 100%; width: 100%;">
      <span>Tiguan</span>
    </div>
  <% end %>

  <%= link_to troc_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711806583/IMG_3927_bxz9ig.jpg); height: 100%; width: 100%;">
      <span>T-Roc</span>
    </div>
  <% end %>


  <%= link_to touareg_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711806582/captivating-ride-with-a-volkswagen-touareg-8dy2ctaugaekcvhd_rse1ni.jpg); height: 100%; width: 100%;">
      <span>Touareg</span>
    </div>
  <% end %>

  <%= link_to california_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711806580/istockphoto-1177455542-612x612_oei4lo.jpg); height: 100%; width: 100%;">
      <span>California</span>
    </div>
  <% end %>

</div>
