<br>
<div class="seocontainer">
  <p><%= t('expmini.titol') %></p>

  <h2><%= t('expmini.t1') %></h2>
  <p><%= t('expmini.p1') %></p>

  <h2><%= t('expmini.t2') %></h2>
  <p><%= t('expmini.p2') %></p>

  <h2><%= t('expmini.t3') %></h2>
  <p><%= t('expmini.p3') %></p>

  <h2><%= t('expmini.t4') %></h2>
  <p><%= t('expmini.p4') %></p>

  <h2><%= t('expmini.t5') %></h2>
  <p><%= t('expmini.p5') %></p>

  <h2><%= t('expmini.t6') %></h2>
  <p><%= t('expmini.p6') %></p>
  <br>

  <%@contact = Contact.new %>
  <%= render "pages/bmw/contactmodal" %>
  <div class="card-product" style="background-color: #A2262B !important">
    <div class="card-product-infos">
      <div class = "listing-card-title" style="color: white !important;">
      <strong><%= t('noencuentras') %></strong>
      <p><%= t('indicanos') %></p>
      </div>
      <div class="font-card-listing" style= "text-align:center;">
        <button type="button" class="btn btn-outline-light btn-lg" style="margin-bottom:15px" data-toggle="modal" data-target="#exampleModal"><%= t('contacta') %></button>
      </div>
    </div>
  </div>
</div>
