<div class="footer flex-vertical">
  <div id="footer-logo">
    <%= link_to root_path do  %>
      <%= image_tag('https://res.cloudinary.com/dd7x7bqya/image/upload/v1668103145/Importocotxe_blanco_png-07_mpwjsh.png', style:"max-width: 80%;") %>
    <% end %>
    <div class="mt-2"style="text-align: center; ">
      <a href="tel:+376666488" style="color: white; text-decoration:none;">+376 666 488</a> | <a href="mailto:info@importocotxe.ad" style="color: white; text-decoration:none;">info@importocotxe.ad</a>
    </div>
  </div>
  <div id="line-footer"></div>
  <div id="footer-links-position">
    <%= link_to 'Política de privacidad', privacy_policy_path, target: "_blank", class:"footer-links" %>
    <%= link_to 'Aviso legal', aviso_legal_path, target: "_blank", class:"footer-links" %>
    <%= link_to 'Política de cookies', cookie_policy_path, target: "_blank", class:"footer-links" %>
    <%= link_to 'Reclamacions', "https://www.govern.ad/ca/tematiques/comerc-i-consum/comerc", target: "_blank", class:"footer-links" %>

  </div>
</div>
