<%# <div class="navbar">
  <div class= "continer">
      <%= render 'shared/contact' %>
      <%= render 'shared/language' %>
  </div>
  <div class="container">
      <%= render 'shared/logo' %>
      <%= link_to t('pages.us'), us_path, style:"color: black; text-decoration:none;" %>
      <%= link_to t('pages.funcionament'), articles_path, style:"color: black; text-decoration:none;" %>
      <%= render 'shared/user' %>
  </div>
</div> %>
