<div class="seocards seocontainer">

  <%= link_to serie3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1709738717/P90382613-the-new-bmw-m340d-xdrive-touring-black-sapphire-metallic-02-2020-2250px_lbjugy.jpg); height: 100%; width: 100%;">
      <span>Serie 3</span>
    </div>
  <% end %>

  <%= link_to serie5_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1709742619/bmw-serie-5-6553620815c4c_whkhqa.jpg); height: 100%; width: 100%;">
      <span>Serie 5</span>
    </div>
  <% end %>

  <%= link_to serie7_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600529/BMW_7-Series__G70__750e_1X7A1895_a_flg3vr.jpg); height: 100%; width: 100%;">
      <span>Serie 7</span>
    </div>
  <% end %>

  <%= link_to x1_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1709742759/bmw-x1-m35i-xdrive_tglqls.webp); height: 100%; width: 100%;">
      <span>X1</span>
    </div>
  <% end %>

  <%= link_to x5_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1709742806/bmw-x5-front-view_h8pmdk.jpg); height: 100%; width: 100%;">
      <span>X5</span>
    </div>
  <% end %>

  <%= link_to x6_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1709742963/BMW_X6_0-1200x675_xi1ceu.jpg); height: 100%; width: 100%;">
      <span>X6</span>
    </div>
  <% end %>

  <%= link_to i4_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600528/BMW_i4_IAA_2021_1X7A0307_on0v6a.jpg); height: 100%; width: 100%;">
      <span>i4</span>
    </div>
  <% end %>

  <%= link_to i8_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1709743152/840_560_bvq526.jpg); height: 100%; width: 100%;">
      <span>i8</span>
    </div>
  <% end %>

</div>
