 <% content_for :for_head do %>
  <title> <%= t('head.importacio') %> BMW <%= t('head.importocotxe') %></title>
<meta name='description' content="Importa tu coche Bmw a Andorra de manera fácil, rápida y segura con Importocotxe.">  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "name": "Modelos de BMW",
    "description": "Descubre todos los modelos de coches BMW que importamos desde Alemania a Andorra.",
    "url": "https://www.importocotxe.ad/marca/bmw-andorra",
    "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1668073646/Captura_de_pantalla_2022-11-10_a_las_10.46.10-removebg-preview_ry5s3a.png",
    "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Marcas",
          "item": "https://www.importocotxe.ad/marca"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "BMW",
          "item": "https://www.importocotxe.ad/marca/bmw-andorra"
        }
      ]
    },
    "mainEntity": {
      "@type": "ItemList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@type": "Product",
            "name": "BMW Serie 3",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/serie-3",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709738717/P90382613-the-new-bmw-m340d-xdrive-touring-black-sapphire-metallic-02-2020-2250px_lbjugy.jpg",
            "description": "BMW Serie 3, un sedán deportivo con diseño elegante y tecnología avanzada.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 35000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/serie-3"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@type": "Product",
            "name": "BMW Serie 4",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/serie-4",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709738929/16009306958552_zb0cx6.jpg",
            "description": "BMW Serie 4, un coupé con estilo deportivo y alto rendimiento.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 40000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/serie-4"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@type": "Product",
            "name": "BMW X5",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/x5",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709742806/bmw-x5-front-view_h8pmdk.jpg",
            "description": "BMW X5, un SUV de lujo con gran espacio interior y tecnología avanzada.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 55000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/x5"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 4,
          "item": {
            "@type": "Product",
            "name": "BMW X1",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/x1",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709742759/bmw-x1-m35i-xdrive_tglqls.webp",
            "description": "BMW X1, un SUV compacto y versátil para la ciudad y el campo.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 30000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/x1"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 5,
          "item": {
            "@type": "Product",
            "name": "BMW XM",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/xm",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709743046/bmw-x-series-xm-phev-mc-electric-driving-hero-desktop.jpg.asset.1681276548118_byl60o.jpg",
            "description": "BMW XM, un SUV híbrido con gran potencia y eficiencia.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 70000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/xm"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 6,
          "item": {
            "@type": "Product",
            "name": "BMW i8",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/i8",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709743152/840_560_bvq526.jpg",
            "description": "BMW i8, un coche deportivo híbrido con diseño futurista y tecnología innovadora.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 150000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/i8"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 7,
          "item": {
            "@type": "Product",
            "name": "BMW X6",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/x6",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709742963/BMW_X6_0-1200x675_xi1ceu.jpg",
            "description": "BMW X6, un SUV con estilo coupé y gran potencia.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 60000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/x6"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 8,
          "item": {
            "@type": "Product",
            "name": "BMW Serie 5",
            "url": "https://www.importocotxe.ad/marca/bmw-andorra/serie-5",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1709742619/bmw-serie-5-6553620815c4c_whkhqa.jpg",
            "description": "BMW Serie 5, un sedán de lujo con tecnología avanzada y diseño elegante.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 50000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/marca/bmw-andorra/serie-5"
            }
          }
        }
      ]
    }
  }
  </script>


<% end %>
  <%@marca = "BMW" %>
  <div style="background-color: white; margin-left:15px;">
    <%= link_to t('bread.inicio'), root_path, style:"text-decoration: none;" %>
    <%= link_to t('bread.mmarca'), marca_path, style:"text-decoration: none;" %>
    > BMW
  </div>

    <%= render 'pages/bmw/titol' %>
    <%= render 'pages/bmw/modelos' %>
    <%= render 'pages/bmw/form' %>
    <%# <%= render 'pages/bmw/listing' %>
    <%= render 'pages/bmw/explicacion' %>
