<div class="seocards seocontainer">

  <%= link_to a3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711798497/remy-lovesy-19M7TbSch2U-unsplash_v7qkfc.jpg); height: 100%; width: 100%;">
      <span>A3</span>
    </div>
  <% end %>

  <%= link_to a4_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711798509/remy-lovesy-LO8rqX93FgQ-unsplash_erca3u.jpg); height: 100%; width: 100%;">
      <span>A4</span>
    </div>
  <% end %>

  <%= link_to q3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711798502/remy-lovesy-L69quRDsm8A-unsplash_rb0mfn.jpg); height: 100%; width: 100%;">
      <span>Q3</span>
    </div>
  <% end %>

  <%= link_to q4_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600526/original_rqweer.jpg); height: 100%; width: 100%;">
      <span>Q4</span>
    </div>
  <% end %>

  <%= link_to q5_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711798485/eduardo-flores-FxjjnBvXq-Y-unsplash_lkbfqe.jpg); height: 100%; width: 100%;">
      <span>Q5</span>
    </div>
  <% end %>

  <%= link_to q6_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600522/Audi_Q4_e-tron_40_1X7A7053_p4db2g.jpg); height: 100%; width: 100%;">
      <span>Q6</span>
    </div>
  <% end %>

  <%= link_to q8_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711798494/maksym-tymchyk-bb6NaemzpGY-unsplash_og4wlz.jpg); height: 100%; width: 100%;">
      <span>Q8</span>
    </div>
  <% end %>

</div>
