<div class="seocards seocontainer">


  <%= link_to a1_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798678/audi-a1-sportback-2019-1024-07-9a3c18e14f781c08f0453492348268c5e91a1a02_pyuvxo.jpg); height: 100%; width: 100%;">
      <span>A1</span>
    </div>
  <% end %>

  <%= link_to a3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798497/remy-lovesy-19M7TbSch2U-unsplash_v7qkfc.jpg); height: 100%; width: 100%;">
      <span>A3</span>
    </div>
  <% end %>

  <%= link_to a4_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798509/remy-lovesy-LO8rqX93FgQ-unsplash_erca3u.jpg); height: 100%; width: 100%;">
      <span>A4</span>
    </div>
  <% end %>

  <%= link_to q2_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798694/aui-q2-1-1644519933_rhyk6k.jpg); height: 100%; width: 100%;">
      <span>Q2</span>
    </div>
  <% end %>

  <%= link_to q3_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798502/remy-lovesy-L69quRDsm8A-unsplash_rb0mfn.jpg); height: 100%; width: 100%;">
      <span>Q3</span>
    </div>
  <% end %>

  <%= link_to q5_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798485/eduardo-flores-FxjjnBvXq-Y-unsplash_lkbfqe.jpg); height: 100%; width: 100%;">
      <span>Q5</span>
    </div>
  <% end %>


  <%= link_to q8_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798494/maksym-tymchyk-bb6NaemzpGY-unsplash_og4wlz.jpg); height: 100%; width: 100%;">
      <span>Q8</span>
    </div>
  <% end %>

  <%= link_to rs6_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798508/serjan-midili-8iZdhhP5bwg-unsplash_kvyzon.jpg); height: 100%; width: 100%;">
      <span>RS6</span>
    </div>
  <% end %>

  <%= link_to r8_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711798510/callum-hill-TNvGsWoFQ0A-unsplash_dzgevi.jpg); height: 100%; width: 100%;">
      <span>R8</span>
    </div>
  <% end %>

</div>
