<% content_for :for_head do %>
  <title>Importación de coches Audi rs6 a Andorra | Importocotxe</title>
  <meta name='description' content="Encuentra los mejores precios en la importación de coches Audi rs6 a Andorra con Importocotxe. ¡Contáctanos hoy mismo!)">
<% end %>

<div style="background-color: white; margin-left:15px;">
  <%= link_to t('bread.inicio'), root_path, style:"text-decoration: none;" %>
  <%= link_to t('bread.mmarca'), marca_path, style:"text-decoration: none;" %>
  <%= link_to "> Audi", marca_audi_andorra_path, style:"text-decoration: none;" %>
  > RS6
</div>

<div class="container">
      <h1 style = "text-align:center; color:black;"> <%= t('model.concreto', marca: @marca, model: @model) %><h1>
      <h5 style = "text-align:center; color:gray; margin-bottom: 30px;"><%= t('h5totinclos') %> </h5>
  <div class="flex">
    <%= render "pages/bmw/contactmodal" %>
    <%= render "shared/filters_sidebar" %>
    <div class="ads">
      <hr>
      <div class="listing-top">
      </div>
      <%= render 'pages/bmw/listingmodel' %>
    </div>
  </div>
  <div>
    <h2><%= t('audi_rs6.title') %></h2>
    <p><%= t('audi_rs6.description') %></p>

    <% t('audi_rs6.sections').each do |key, value| %>
      <h3><%= t("audi_rs6.sections.#{key}.title") %></h3>
      <p><%= t("audi_rs6.sections.#{key}.content") %></p>
    <% end %>

    <h3><%= t('audi_rs6.conclusion_title') %></h3>
    <p><%= t('audi_rs6.conclusion_content') %></p>

    <h3><%= t('audi_rs6.faq_title') %></h3>
    <ul>
      <% t('audi_rs6.faq_questions').each do |question| %>
        <li><%= question %></li>
      <% end %>
    </ul>

  </div>
</div>
