<div class="seocards seocontainer">

  <%= link_to ma_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711741512/MERCEDES_CLASE_A_2018-e1621413018502-1_asdi3s.jpg); height: 100%; width: 100%;">
      <span>A</span>
    </div>
  <% end %>

  <%= link_to cla_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711741513/mercedes-benz-2019-15g-1-1024x683_e87ylz.jpg); height: 100%; width: 100%;">
      <span>CLA</span>
    </div>
  <% end %>

  <%= link_to gla_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711741516/primera-prueba-mercedes-1_g_xdwolt.jpg); height: 100%; width: 100%;">
      <span>GLA</span>
    </div>
  <% end %>

  <%= link_to glc_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711741513/mercedes-benz-2019-1_g_v4nv6d.jpg); height: 100%; width: 100%;">
      <span>GLC</span>
    </div>
  <% end %>

  <%= link_to gle_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600525/Mercedes-Benz_W167_350de_at_IAA_2019_IMG_0565_ojelyl.jpg); height: 100%; width: 100%;">
      <span>GLE</span>
    </div>
  <% end %>

  <%= link_to ms_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711741513/Mercedes-S-580e-2021-15_w44xzq.jpg); height: 100%; width: 100%;">
      <span>S</span>
    </div>
  <% end %>

  <%= link_to eqv_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600525/Mercedes-Benz_EQV_300_Design-Paket_Lang__V_447__2._Facelift____f_15062025_yewels.jpg); height: 100%; width: 100%;">
      <span>EQV</span>
    </div>
  <% end %>

</div>
