<div class="seocards seocontainer">


  <%= link_to ma_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741512/MERCEDES_CLASE_A_2018-e1621413018502-1_asdi3s.jpg); height: 100%; width: 100%;">
      <span>A</span>
    </div>
  <% end %>

  <%= link_to cla_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741513/mercedes-benz-2019-15g-1-1024x683_e87ylz.jpg); height: 100%; width: 100%;">
      <span>CLA</span>
    </div>
  <% end %>

  <%= link_to gla_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741516/primera-prueba-mercedes-1_g_xdwolt.jpg); height: 100%; width: 100%;">
      <span>GLA</span>
    </div>
  <% end %>

  <%= link_to mg_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741718/mercedes-benz-g-class-w463-teaser-exterior-3302x1858-05-2023.jpg_vifxln.webp); height: 100%; width: 100%;">
      <span>G</span>
    </div>
  <% end %>

  <%= link_to glb_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741513/mercedes-benz-5_g-1024x576_mngaml.jpg); height: 100%; width: 100%;">
      <span>GLB</span>
    </div>
  <% end %>

  <%= link_to glc_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741513/mercedes-benz-2019-1_g_v4nv6d.jpg); height: 100%; width: 100%;">
      <span>GLC</span>
    </div>
  <% end %>

  <%= link_to amggt_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741845/mercedes-amg-coupe-2024_default_yyxzap.jpg); height: 100%; width: 100%;">
      <span>AMG GT</span>
    </div>
  <% end %>

  <%= link_to ms_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741513/Mercedes-S-580e-2021-15_w44xzq.jpg); height: 100%; width: 100%;">
      <span>S</span>
    </div>
  <% end %>

  <%= link_to mv_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711741514/mercedes-benz-clase-v-2024-frontal-lateral.367557_aep0pz.jpg); height: 100%; width: 100%;">
      <span>V</span>
    </div>
  <% end %>


</div>
