 <% content_for :for_head do %>
  <title> <%= t('head.importacio') %> Mercedes-Benz CLA <%= t('head.importocotxe') %></title>
  <meta name='description' content="Encuentra los mejores precios en la importación de coches Mercedes-Benz cla a Andorra con Importocotxe. ¡Contáctanos hoy mismo!)">
<% end %>
<div style="background-color: white; margin-left:15px;">
  <%= link_to t('bread.inicio'), root_path, style:"text-decoration: none;" %>
  <%= link_to t('bread.mmarca'), marca_path, style:"text-decoration: none;" %>
  <%= link_to "> Mercedes", marca_mercedes_andorra_path, style:"text-decoration: none;" %>
  > Clase CLA
</div>
<div class="container">
      <h1 style = "text-align:center; color:black;"> <%= t('model.concreto', marca: @marca, model: @model) %><h1>
      <h5 style = "text-align:center; color:gray; margin-bottom: 30px;"><%= t('h5totinclos') %> </h5>
  <div class="flex">
    <%= render "pages/bmw/contactmodal" %>
    <%= render "shared/filters_sidebar" %>
    <div class="ads">
      <hr>
      <div class="listing-top">
      </div>
      <%= render 'pages/bmw/listingmodel' %>
    </div>
  </div>
  <div>
    <h2><%= t('mercedes_cla.title') %></h2>
    <p><%= t('mercedes_cla.description') %></p>

    <% t('mercedes_cla.sections').each do |section| %>
      <h3><%= section[:heading] %></h3>
      <p><%= section[:content] %></p>
    <% end %>
    <br>
    <p><%= t('mercedes_cla.conclusion') %></p>

    <ul>
      <% t('mercedes_cla.faqs').each do |faq| %>
        <li><%= faq[:question] %></li>
      <% end %>
    </ul>
  </div>
</div>
