<div>
  <h4 style="margin-bottom: 30px;"><%=t('pages.home.about') %></h4>
  <div class = "home-about">
    <h5 class= "titulo-about"><i class="fa-solid fa-magnifying-glass"></i> <%=t('pages.home.glasstit') %> </h4>
    <p class = "mb-4"><%=t('pages.home.glass') %></p>
    <h5 class= "titulo-about"><i class="fa-solid fa-circle-check"></i></i> <%=t('pages.home.checktit') %> </h5>
    <p class = "mb-4"><%=t('pages.home.check') %></p>
    <h5 class= "titulo-about"><i class="fa-solid fa-car-tunnel"></i> <%=t('pages.home.tunneltit') %> </h5>
    <p class = "mb-4"><%=t('pages.home.tunnel') %></p>
    <h5 class= "titulo-about"><i class="fa-solid fa-cart-shopping"></i> <%=t('pages.home.shoppingtit') %> </h5>
    <p class = "mb-4"><%=t('pages.home.shopping') %></p>
    <h5 class= "titulo-about"><i class="fa-solid fa-truck-fast"></i> <%=t('pages.home.fastit') %> </h5>
    <p class = "mb-4"><%=t('pages.home.fast') %></p>
    <h5 class= "titulo-about"><i class="fa-solid fa-paperclip"></i> <%=t('pages.home.cliptit') %> </h5>
    <p class = "mb-4"><%=t('pages.home.clip') %></p>
    <h5 class= "titulo-about"><i class="fa-solid fa-face-smile"></i> <%=t('pages.home.smiletit') %> </h5>
    <p class = "mb-4"><%=t('pages.home.smile') %></p>
  </div>
</div>
