<div class="problem">
  <div class="container">
    <h2><%= t('newhome.faq') %></h2>
    <br>
    <div class="sit-block">
      <div class= "sit-cards-2">

        <div class= "sit-card-3">
          <iframe loading="lazy" style="border-top-right-radius: 25px; border-top-left-radius: 25px;"  width="300" height="533" src="https://www.youtube.com/embed/<%= t('video.nous') %>" title="Importeu cotxes nous?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <div style="margin: 15px;">
            <h4 style="font-size: 25px !important; color: white !important; font-weight: 600 !important;"><%= t('newhome.faq1') %></h4>
          </div>
        </div>

        <div class= "sit-card-3">
          <iframe loading="lazy" style="border-top-right-radius: 25px; border-top-left-radius: 25px;"  width="300" height="533" src="https://www.youtube.com/embed/<%= t('video.finan') %>" title="Oferiu finançament?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <div style="margin: 15px;">
            <h4 style="font-size: 25px !important; color: white !important; font-weight: 600 !important;"><%= t('newhome.faq2') %></h4>
          </div>
        </div>

        <div class= "sit-card-3">
          <iframe loading="lazy" style="border-top-right-radius: 25px; border-top-left-radius: 25px;" width="300" height="533" src="https://www.youtube.com/embed/<%= t('video.honoraris') %>" title="Quins són els vostres honoraris?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <div style="margin: 15px;">
            <h4 style="font-size: 25px !important; color: white !important; font-weight: 600 !important;"><%= t('newhome.faq3') %></h4>
          </div>
        </div>

        <div class= "sit-card-3">
          <iframe loading="lazy" style="border-top-right-radius: 25px; border-top-left-radius: 25px;"  width="300" height="533" src="https://www.youtube.com/embed/<%= t('video.trobar') %>" title="M'ajudeu a buscar un cotxe?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <div style="margin: 15px;">
            <h4 style="font-size: 25px !important; color: white !important; font-weight: 600 !important;"><%= t('newhome.faq4') %></h4>
          </div>
        </div>

        <div class= "sit-card-3">
          <iframe loading="lazy" style="border-top-right-radius: 25px; border-top-left-radius: 25px;"  width="300" height="533" src="https://www.youtube.com/embed/<%= t('video.pagament') %>" title="Accepteu cotxes com a part de pagament?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <div style="margin: 15px;">
            <h4 style="font-size: 25px !important; color: white !important; font-weight: 600 !important;"><%= t('newhome.faq5') %></h4>
          </div>
        </div>
        <div class= "sit-card-3">
          <iframe loading="lazy" style="border-top-right-radius: 25px; border-top-left-radius: 25px;"  width="300" height="533" src="https://www.youtube.com/embed/<%= t('video.acord') %>" title="Que passa si un cotxe no arriba com s'espera?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <div style="margin: 15px;">
            <h4 style="font-size: 25px !important; color: white !important; font-weight: 600 !important;"><%= t('newhome.faq6') %></h4>
          </div>
        </div>

        <div class= "sit-card-3">
          <iframe loading="lazy" style="border-top-right-radius: 25px; border-top-left-radius: 25px;"  width="300" height="533" src="https://www.youtube.com/embed/<%= t('video.dispo') %>" title="Els cotxes anunciats són reals?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <div style="margin: 15px;">
            <h4 style="font-size: 25px !important; color: white !important; font-weight: 600 !important;"><%= t('newhome.faq7') %></h4>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
