<div class= "sit-home">
  <div id="home-card-sit">
    <div class="barrra-vermella">
      <p style="color:#0066FF ;"> </p>
    </div>
    <h2 id="main-card-title-2">GTI</h2>
    <h2 id="main-card-title"><%= t('newhome.gti') %></h2>
    <p style="font-size: 28px !important; width: 90%; margin: auto; line-height: 28px !important; margin-bottom: 2em;"><%= t('newhome.gtides') %></p>

    <div class="sit-block">
      <div class= "sit-cards">

        <div class= "sit-card-2">
          <h4 style="font-size: 32px !important;"><%= t('newhome.gti1') %></h4>
          <iframe loading="lazy" class="mt-2 mb-2" style="border-radius: 25px;" width="300" height="350" src="https://www.youtube.com/embed/<%= t('video.garantia') %>" title="Garantia d'importacio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <p><%= t('newhome.gti1des') %></p>
        </div>

        <div class= "sit-card-2">
          <h4 style="font-size: 32px !important;"><%= t('newhome.gti2') %></h4>
          <iframe loading="lazy" class="mt-2 mb-2" style="border-radius: 25px;" width="300" height="350" src="https://www.youtube.com/embed/<%= t('video.entrega') %>" title="Busquem d'entrega" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <p><%= t('newhome.gti2des') %></p>
        </div>

        <div class= "sit-card-2">
          <h4 style="font-size: 32px !important;"><%= t('newhome.gti3') %></h4>
          <iframe loading="lazy" class="mt-2 mb-2" style="border-radius: 25px;" width="300" height="350" src="https://www.youtube.com/embed/<%= t('video.mecanica') %>" title="Garantia mecànica" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
          <p><%= t('newhome.gti3des') %> </p>
        </div>

      </div>
    </div>

    <h2><%= t('newhome.gtifin') %></h2>
    <br>
    <%= link_to root_path do %>
      <button id="btn-footer-home">
        <%= t('pages.home.encuentra') %>
      </button>
    <% end %>

  </div>
</div>
