<div class="problem">
  <div class="container">
    <h2><%= t('newhome.cpt') %></h2>
    <div class= "vertical-flex">
      <div class= "mt-2">
        <p class="problem-text"><%= t('newhome.cp1') %></p>
        <p class="problem-text"><%= t('newhome.cp2') %></p>
        <p class="problem-text"><%= t('newhome.cp3') %></p>
      </div>
      <div class= "mt-2">
      <img class="problem-img" loading="lazy" src="https://res.cloudinary.com/dd7x7bqya/image/upload/v1699454333/WhatsApp_Image_2023-11-08_at_15.09.57_1_usft1g.jpg" alt="foto de coche">
      </div>
    </div>

    <div class= "vertical-flex">
      <div class= "mt-2">
      <img class="problem-img img-no-mini" loading="lazy" src="https://res.cloudinary.com/dd7x7bqya/image/upload/v1716983146/WhatsApp_Image_2024-05-29_at_13.32.30_mthbim.jpg" alt="foto de coche">
      </div>
      <div class= "mt-2">
        <p class="problem-text"><%= t('newhome.cp4') %></p>
        <p class="problem-text"><%= t('newhome.cp5') %></p>
        <p class="problem-text"><%= t('newhome.cp6') %></p>
      </div>
    </div>

    <br>
    
    <!-- Contact form instead of CTA button -->
    <div class="landing-cta-section">
      <h3><%= t('landing.final_title') %></h3>
      <p><%= t('landing.final_subtitle') %></p>
      <div class="native-form-container">
        <%= render 'shared/unified_contact_form', 
                   source: 'landing',
                   form_type: 'cta_lead',
                   placeholder: 'Cuéntanos sobre el coche que quieres importar...',
                   submit_text: 'Empezar Mi Importación' %>
      </div>
    </div>

  </div>
</div>