<div>
  <h4 style= "margin-left: 0; margin-bottom: 30px;"><%=t('pages.home.ejemplostitle') %></h4>
  <div class = "cards-only-container">
    <div class="card-product-home">
      <%= image_tag "https://res.cloudinary.com/dd7x7bqya/image/upload/v1667383849/567d3647-c74f-4a94-aefb-68026a688fc8-2_ixxdfi.jpg"%>
      <h3 class="mb-0">Mercedes-Benz A 45 AMG</h3>
      <div class = "m-3">
          <%= "#{t('pages.home.cambio')} Cambio automático" %>
          <br>
          <%= "#{t('pages.home.kilome')} 19.794 km" %>
          <br>
          <%= "#{t('pages.home.pot')} 381 CV" %>
          <br>
          <%= "#{t('pages.home.matric')} 03-2021" %>
          <br>
          <strong> 49.726€ </strong>
      </div>
    </div>

    <div class="card-product-home">
      <%= image_tag "https://res.cloudinary.com/dd7x7bqya/image/upload/v1667383848/1d62380b-5300-42a0-8cfe-755aa0f853a0_qtcfo7.jpg"%>
      <h3 class="mb-0">Porsche Macan</h3>
      <div class = "m-3">
          <%= "#{t('pages.home.cambio')} Cambio automático" %>
          <br>
          <%= "#{t('pages.home.kilome')} 48.600 km" %>
          <br>
          <%= "#{t('pages.home.pot')} 245 CV" %>
          <br>
          <%= "#{t('pages.home.matric')} 02-2020" %>
          <br>
          <strong> 57.870€ </strong>
      </div>
    </div>

    <div class="card-product-home">
      <%= image_tag "https://res.cloudinary.com/dd7x7bqya/image/upload/v1667383849/b88b2ad1-007e-489b-8451-2805d30b6019_mrktwy.jpg"%>
      <h3 class="mb-0">Lamborghini Urus</h3>
      <div class = "m-3">
          <%= "#{t('pages.home.cambio')} Cambio automático" %>
          <br>
          <%= "#{t('pages.home.kilome')} 97.000 km" %>
          <br>
          <%= "#{t('pages.home.pot')} 650 CV" %>
          <br>
          <%= "#{t('pages.home.matric')} 01-2019" %>
          <br>
          <strong> 232.400€ </strong>
      </div>
    </div>
  </div>
  <div class = "cards-only-container" style = "margin-bottom: 100px;">
    <div class="card-product-home">
      <%= image_tag "https://res.cloudinary.com/dd7x7bqya/image/upload/v1667383847/0a2df7cb-e39c-41e6-a26c-1352866104d2_nk1qhj.jpg"%>
      <h3 class="mb-0">Audi RS6</h3>
      <div class = "m-3">
          <%= "#{t('pages.home.cambio')} Cambio automático" %>
          <br>
          <%= "#{t('pages.home.kilome')} 129.858 km" %>
          <br>
          <%= "#{t('pages.home.pot')} 600 CV" %>
          <br>
          <%= "#{t('pages.home.matric')} 05-2020" %>
          <br>
          <strong> 99.230€ </strong>
      </div>
    </div>
    <div class="card-product-home">
      <%= image_tag "https://res.cloudinary.com/dd7x7bqya/image/upload/v1667383849/c0721331-e2ba-4b4d-a5e2-1f48865b39c8_brmldv.jpg"%>
      <h3 class="mb-0">Ferrari 488 Spider</h3>
      <div class = "m-3">
          <%= "#{t('pages.home.cambio')} Cambio automático" %>
          <br>
          <%= "#{t('pages.home.kilome')} 13.500 km" %>
          <br>
          <%= "#{t('pages.home.pot')} 669 CV" %>
          <br>
          <%= "#{t('pages.home.matric')} 06-2019" %>
          <br>
          <strong> 225.060€ </strong>
      </div>
    </div>
    <div class="card-product-home">
      <%= image_tag "https://res.cloudinary.com/dd7x7bqya/image/upload/v1667385642/6ccba648-1e9f-434b-86db-3e15ed01df9e_wnkldu.jpg"%>
      <h3 class="mb-0">Porsche 992</h3>
      <div class = "m-3">
          <%= "#{t('pages.home.cambio')} Cambio automático" %>
          <br>
          <%= "#{t('pages.home.kilome')} 31.100 km" %>
          <br>
          <%= "#{t('pages.home.pot')} 385 CV" %>
          <br>
          <%= "#{t('pages.home.matric')} 03-2021" %>
          <br>
          <strong> 119.250€ </strong>
      </div>
    </div>
  </div>
</div>
