<div>
  <div>
    <h2 style="color:#A2262B" ><%= t('pages.home.100xmas') %></h2>
  </div>
  <div class="cards-container">
    <h4 id="que-hacemos"><%=t('pages.home.quehacemostitle')%></h4>
    <p><%=t('pages.home.quehacemos')%></p>
    <div class = "cards-only-container">
      <div class = "home-card">
        <h4 style="color:#A2262B !important;">1.</h4>
        <h5><strong><%=t('pages.home.seleccioncochetitle')%></strong></h5>
        <img class="img-home" src="https://res.cloudinary.com/dd7x7bqya/image/upload/v1666613951/undraw_browsing_re_eycn_yzvqg8.svg" alt="buscar un coche de alemania desde andorra" >
        <p><%= t('pages.home.seleccioncoche_html') %></p>
      </div>
      <div class = "home-card">
        <h4 style="color:#A2262B !important;">2.</h4>
        <h5><strong><%= t('pages.home.ejecuimporttitle') %></strong></h5>
        <img class="img-home" src="https://res.cloudinary.com/dd7x7bqya/image/upload/v1666626625/undraw_navigator_a479_fq30pg.svg" alt="importar un coche de alemania a andorra" >
        <p><%=t('pages.home.ejecuimport_html')%></p>
      </div>
      <div class = "home-card">
      <h4 style="color:#A2262B !important;">3.</h4>
        <h5><strong><%= t('pages.home.entregatitle') %></strong></h5>
        <img class="img-home" src="https://res.cloudinary.com/dd7x7bqya/image/upload/v1666627217/undraw_by_my_car_re_j3jt_kfeekq.svg" alt="entregamos un coche de alemania a andorra" >
        <p><%= t('pages.home.entrega_html') %></p>
      </div>
    </div>
  </div>
</div>
