<%= render 'pages/blog' %>


<div>
  <div id="banner">
    <div class="container">
        <div class="mb-5">
          <h1 style="margin-bottom: 30px; color: black;"><%= t('pages.funciona.titol') %></h1>
          <p class="mb-5"><%= t('pages.funciona.subtitol') %></p>
         <div class= "d d-flex justify-content-around">
          <div>
            <h1 style="color: black;"><i class="fa-solid fa-magnifying-glass-plus"></i></h1>
            <h5><%= t('pages.funciona.busqueda') %></h5>
          </div>
          <div>
            <h1 style="color: black;"><i class="fa-solid fa-file-invoice"></i></h1>
            <h5><%= t('pages.funciona.compra') %></h5>
          </div>
          <div>
            <h1 style="color: black;"><i class="fa-solid fa-mountain-city"></i></h1>
            <h5><%= t('pages.funciona.import') %></h5>
          </div>
         </div>
        </div>

        <div>
          <h4><%= t('pages.funciona.tencontrar') %></h4>
          <div class = "home-about mt-5 mb-5">
            <h5 class= "titulo-about"><i class="fa-brands fa-wpexplorer"></i><%= t('pages.funciona.1descubrir') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.desdescubrir_html') %></p>
            <h5 class= "titulo-about"><i class="fa-solid fa-folder-plus"></i><%= t('pages.funciona.1selec') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.desselec_html') %></p>
            <h5 class= "titulo-about"><i class="fa-regular fa-circle-check"></i><%= t('pages.funciona.1escoger') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.desescoger_html') %></p>
          </div>
        </div>

        <div>
          <h4><%= t('pages.funciona.2compra') %></h4>
          <div class = "home-about mt-5 mb-5">
            <h5 class= "titulo-about"><i class="fa-solid fa-file-signature"></i><%= t('pages.funciona.2treserva') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.des2tres_html') %></p>
            <h5 class= "titulo-about"><i class="fa-solid fa-cart-shopping"></i><%= t('pages.funciona.2tcompra') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.des2tcompra_html') %></p>
          </div>
        </div>

        <div>
          <h4><%= t('pages.funciona.3import') %></h4>
          <div class = "home-about mt-5 mb-5">
            <h5 class= "titulo-about"><i class="fa-solid fa-truck-arrow-right"></i><%= t('pages.funciona.3trans') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.des3trans_html') %></p>
            <h5 class= "titulo-about"><i class="fa-solid fa-person-military-pointing"></i><%= t('pages.funciona.3matric') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.des3matric_html') %></p>
            <h5 class= "titulo-about"><i class="fa-solid fa-car-on"></i><%= t('pages.funciona.3entrega') %></h4>
            <p class = "mb-4"><%= t('pages.funciona.des3entrega_html') %></p>
          </div>
        </div>
    </div>
  </div>
</div>

  <div class="hero_img_1">
    <h1 id="search"><%= t('pages.funciona.title2') %></h1>
    <div class = "main-form">
      <%= simple_form_for :filters, url: "#{I18n.locale}/cars", html: { data: {controller:"filters" }, id: "buscar-cotxe-main" }, method: "GET" do |f| %>
        <div id="home-card-main">
          <h2 id="main-card-title"><%= t('pages.home.encuentra') %></h2>
              <%= f.input :make, label: t('pages.home.marca'), collection: @makes, input_html: { data: { action:"change->filters#model" } } , prompt:"--Seleccione una marca--", disabled: "", required: true %>
              <%= f.input :model, as: :select, label: t('pages.home.modelo') , input_html: { id:"models_dropdown", data: { model: @models }}, required: false%>
          <div id= "home-card">
            <div id="column-left">
              <%= f.input :mileage_max, label: t('pages.home.km'), collection:[["5.000","5000"], ["10.000","10000"], ["20.000","20000"], ["30.000","30000"], ["40.000","40000"], ["50.000","50000"], ["60.000","60000"], ["70.000","70000"], ["80.000","80000"], ["90.000","90000"], ["100.000","100000"], ["125.000","125000"], ["150.000","150000"], ["200.000","200000"]], required: false%>
              <%= f.input :first_registration_date, label: t('pages.home.primeramat'), collection:["2019", "2020", "2021", "2022", "2023"], required: false %>
              <%= f.input :potencia, label: t('pages.home.potencia'), collection: [["90cv","66"],["120cv","88"],["150cv","110"],["200cv","147"],["300cv","220"],["400cv","294"],["550cv","404"]], required: false %>
              <%= f.input :fuel, label: t('pages.home.fuel'), collection: @fuel_list, required: false %>

            </div>
            <div id="column">
              <%= f.input :price_max, label: t('pages.home.precio'), as: :numeric, required: false %>
              <%= f.input :transmision, label: t('pages.home.transmision'), collection: [["Manual","MANUAL_GEAR"],["Automático","SEMIAUTOMATIC_GEAR&gearbox=AUTOMATIC_GEAR"]], required: false %>
              <%= f.input :model_description, label: t('pages.home.descripcion'), required: false %>
              <% if session[:api_counter]<5 || user_signed_in? %>
                <%= f.submit t('pages.home.mostrar'), class: "home-button busca-cotxe-inicial", id: "btn_dis", disabled: true %>
                <%# <%= f.submit t('pages.home.mostrar'), class: "home-button" %>
              <% else %>
                <%= link_to "<button class='home-button'>#{t('pages.home.login')}</button>".html_safe, new_user_registration_path %>
              <% end %>
            </div>
          </div>
          <p class="mt-3" style="color: gray !important;"> <%=t('pages.home.contacto_exepcion')%></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
