<% content_for :for_head do %>
  <title>🚗 Importocotxe.ad -  <%= t('head.main') %></title>
  <link
    rel="preload"
    as="image"
    href="https://res.cloudinary.com/dd7x7bqya/image/upload/f_auto,q_auto,w_1200/v1750241660/andorra_background_z2wos0.jpg"
  >
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "AutomotiveBusiness",
    "name": "Importocotxe",
    "url": "https://www.importocotxe.ad/",
    "logo": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1668073646/Captura_de_pantalla_2022-11-10_a_las_10.46.10-removebg-preview_ry5s3a.png",
    "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1668073646/Captura_de_pantalla_2022-11-10_a_las_10.46.10-removebg-preview_ry5s3a.png",
    "description": "Empresa especializada en la importación de coches desde Alemania a Andorra. Encuentra coches por marca y modelo y contáctanos para más información.",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "C/ del Clos 01",
      "addressLocality": "Ordino",
      "addressRegion": "AD",
      "postalCode": "AD300",
      "addressCountry": "AD"
    },
    "contactPoint": {
      "@type": "ContactPoint",
      "telephone": "+376666488",
      "contactType": "Customer Service",
      "areaServed": "AD",
      "availableLanguage": ["es", "en", "fr"]
    },
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://www.importocotxe.ad/es/cars?filters%5Bmake%5D={make}&filters%5Bmodel%5D={model}&filters%5Bmileage_max%5D={mileage_max}&filters%5Bfirst_registration_date%5D={first_registration_date}&filters%5Bpotencia%5D={potencia}&filters%5Bfuel%5D={fuel}&filters%5Bsubtitle%5D={subtitle}&spinner=6aa982161e0c9015eaa660133561c234&filters%5Bprice_max%5D={price_max}&filters%5Btransmision%5D={transmision}&filters%5Bmodel_description%5D={model_description}&commit=Mostrar+resultados",
      "query-input": [
        "required name=make",
        "optional name=model",
        "optional name=mileage_max",
        "optional name=first_registration_date",
        "optional name=potencia",
        "optional name=fuel",
        "optional name=subtitle",
        "optional name=price_max",
        "optional name=transmision",
        "optional name=model_description"
      ]
    },
    "makesOffer": {
      "@type": "OfferCatalog",
      "name": "Catálogo de Marcas",
      "url": "https://www.importocotxe.ad/marca",
      "itemListElement": [
        {
          "@type": "OfferCatalog",
          "name": "BMW",
          "url": "https://www.importocotxe.ad/marca/bmw-andorra/"
        },
        {
          "@type": "OfferCatalog",
          "name": "Mercedes",
          "url": "https://www.importocotxe.ad/es/marca/mercedes-andorra"
        },
        {
          "@type": "OfferCatalog",
          "name": "Porsche",
          "url": "https://www.importocotxe.ad/es/marca/porsche-andorra"
        },
        {
          "@type": "OfferCatalog",
          "name": "Audi",
          "url": "https://www.importocotxe.ad/es/marca/audi-andorra"
        },
        {
          "@type": "OfferCatalog",
          "name": "Volkswagen",
          "url": "https://www.importocotxe.ad/es/marca/volkswagen-andorra"
        },
        {
          "@type": "OfferCatalog",
          "name": "Mini",
          "url": "https://www.importocotxe.ad/es/marca/mini-andorra"
        },
        {
          "@type": "OfferCatalog",
          "name": "Cupra",
          "url": "https://www.importocotxe.ad/es/marca/cupra-andorra"
        },
        {
          "@type": "OfferCatalog",
          "name": "Tesla",
          "url": "https://www.importocotxe.ad/es/marca/tesla-andorra"
        },
        {
          "@type": "OfferCatalog",
          "name": "Lamborghini",
          "url": "https://www.importocotxe.ad/es/marca/lamborghini-andorra"
        }
      ]
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday",
          "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
      }
    ],
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5",
      "reviewCount": "20"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Reinaldo"
        },
        "datePublished": "2024-04-01",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "reviewBody": "Un equipazo, desde el primer momento han buscado el modelo de coche que queria ajustandose al precio, kilometros y extras. Hoy tengo un cochazo que espero disfrutar mucho tiempo. Volvere a contar con ellos."
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Jonatan"
        },
        "datePublished": "2024-03-15",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "reviewBody": "Muy profesionales, serios, el coche está impecable como en las fotos. 100% recomendable. Gracias por todo y volveré a contactar con vosotros"
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Sergi Urpi"
        },
        "datePublished": "2024-01-15",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5"
        },
        "reviewBody": "Mi experiencia con ellos fue muy profesional. Durante todo el proceso de importación la atención fue excelente, prácticamente redujeron toda la complejidad y mi necesidad de intervenir a los puntos mínimos necesarios. 100% recomendable!"
      }
    ]
  }
  </script>

<% end %>
<div>
  <%= render 'pages/hero' %>
  <%= render 'pages/problem' %>
  <%= render 'pages/sit' %>
  <%= render 'pages/reviews' %>
  <%= render 'pages/gti' %>
  <%= render 'pages/faqs' %>
  <%# <%= render 'pages/social' %>
  <%= render 'pages/copyhome' %>

  <!-- General inquiry form section -->
  <div class="seocontainer" style="margin: 60px auto; text-align: center;">
    <h2 style="color: #A2262B; margin-bottom: 20px;">¿Tienes alguna duda?</h2>
    <p style="margin-bottom: 30px; color: #666;">Contáctanos y te ayudaremos a encontrar el EV que buscas</p>
    <%= render 'shared/unified_contact_form',
        source: 'web',
        form_type: 'general_inquiry',
        placeholder: 'Cuéntanos qué coche buscas o cualquier duda que tengas...',
        submit_text: 'Enviar consulta' %>
  </div>
</div>
<%# <%= render 'pages/whatwedo' %>
<%# <%= render 'pages/listingshome' %>
<%# <%= render 'pages/about' %>
<%# <%= render 'pages/footer'%>
