<div class="seocards seocontainer">

  <%= link_to macan_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801748/michail-dementiev-EC7juxmFUa4-unsplash_epyi44.jpg); height: 100%; width: 100%;">
      <span>Macan</span>
    </div>
  <% end %>
    <%= link_to cayenne_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801746/jaime-castrillon-G9C5t5z6h0k-unsplash_cvyl3k.jpg); height: 100%; width: 100%;">
      <span>Cayenne</span>
    </div>
  <% end %>
    <%= link_to panamera_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801746/ayman-hallak-kjozrvqXnuY-unsplash_e7vbsl.jpg); height: 100%; width: 100%;">
      <span>Panamera</span>
    </div>
  <% end %>
    <%= link_to cayman_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801745/brecht-denil-VwvtwFPjPnU-unsplash_zbazry.jpg); height: 100%; width: 100%;">
      <span>Cayman</span>
    </div>
  <% end %>

  <%= link_to boxster_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801746/pavel-okrema-KmJH2Ql6G-M-unsplash_dctsav.jpg); height: 100%; width: 100%;">
      <span>Boxster</span>
    </div>
  <% end %>

  <%= link_to carrera_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801749/hamza-samil-yavuz-AcBdayIL8us-unsplash_vfydql.jpg); height: 100%; width: 100%;">
      <span>Carrera</span>
    </div>
  <% end %>

  <%= link_to taycan_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801745/or-hakim-0qcexMtNjR4-unsplash_ni6rb7.jpg); height: 100%; width: 100%;">
      <span>Taycan</span>
    </div>
  <% end %>


</div>
