 <% content_for :for_head do %>
  <title> <%= t('head.importacio') %> Porsche <%= t('head.importocotxe') %></title>
  <meta name='description' content="Importa tu coche Porsche a Andorra de manera fácil, rápida y segura con Importocotxe.">  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "name": "Modelos de Porsche",
    "description": "Descubre todos los modelos de coches Porsche que importamos desde Alemania a Andorra.",
    "url": "https://www.importocotxe.ad/es/marca/porsche-andorra",
    "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1668073646/Captura_de_pantalla_2022-11-10_a_las_10.46.10-removebg-preview_ry5s3a.png",
    "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Marcas",
          "item": "https://www.importocotxe.ad/marca"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Porsche",
          "item": "https://www.importocotxe.ad/es/marca/porsche-andorra"
        }
      ]
    },
    "mainEntity": {
      "@type": "ItemList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@type": "Product",
            "name": "Porsche Carrera",
            "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/carrera",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801749/hamza-samil-yavuz-AcBdayIL8us-unsplash_vfydql.jpg",
            "description": "Porsche Carrera, un deportivo icónico con gran potencia y diseño elegante.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 100000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/carrera"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@type": "Product",
            "name": "Porsche Panamera",
            "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/panamera",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801746/ayman-hallak-kjozrvqXnuY-unsplash_e7vbsl.jpg",
            "description": "Porsche Panamera, un sedán deportivo con gran rendimiento y lujo.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 120000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/panamera"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@type": "Product",
            "name": "Porsche Cayenne",
            "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/cayenne",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801746/jaime-castrillon-G9C5t5z6h0k-unsplash_cvyl3k.jpg",
            "description": "Porsche Cayenne, un SUV de lujo con gran rendimiento y tecnología avanzada.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 80000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/cayenne"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 4,
          "item": {
            "@type": "Product",
            "name": "Porsche Boxster",
            "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/boxster",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801746/pavel-okrema-KmJH2Ql6G-M-unsplash_dctsav.jpg",
            "description": "Porsche Boxster, un roadster deportivo con gran manejo y diseño atractivo.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 90000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/boxster"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 5,
          "item": {
            "@type": "Product",
            "name": "Porsche Taycan",
            "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/taycan",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801745/or-hakim-0qcexMtNjR4-unsplash_ni6rb7.jpg",
            "description": "Porsche Taycan, un coche eléctrico con gran potencia y tecnología avanzada.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 130000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/taycan"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 6,
          "item": {
            "@type": "Product",
            "name": "Porsche Cayman",
            "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/cayman",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801745/brecht-denil-VwvtwFPjPnU-unsplash_zbazry.jpg",
            "description": "Porsche Cayman, un coupé deportivo con gran manejo y diseño aerodinámico.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 95000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/cayman"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 7,
          "item": {
            "@type": "Product",
            "name": "Porsche Macan",
            "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/macan",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711801748/michail-dementiev-EC7juxmFUa4-unsplash_epyi44.jpg",
            "description": "Porsche Macan, un SUV compacto con gran rendimiento y estilo deportivo.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 70000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/porsche-andorra/macan"
            }
          }
        }
      ]
    }
  }
  </script>


<% end %>
  <%@marca = "Porsche" %>
  <div style="background-color: white; margin-left:15px;">
    <%= link_to t('bread.inicio'), root_path, style:"text-decoration: none;" %>
    <%= link_to t('bread.mmarca'), marca_path, style:"text-decoration: none;" %>
    > Porsche
  </div>

    <%= render 'pages/porsche/titol' %>
    <%= render 'pages/porsche/modelos' %>
    <%= render 'pages/porsche/form' %>
    <%# <%= render 'pages/porsche/listing' %>
    <%= render 'pages/porsche/explicacion' %>
