<div class="seocards seocontainer">

  <%= link_to formentor_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711809221/marcel-hoberg-PGmkdB6YWbY-unsplash_a3vvyg.jpg); height: 100%; width: 100%;">
      <span>Formentor</span>
    </div>
  <% end %>

  <%= link_to leon_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711809221/nils-arfert-pZ-iur48Z3Y-unsplash_fnjpli.jpg); height: 100%; width: 100%;">
      <span>Leon</span>
    </div>
  <% end %>

  <%= link_to born_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1711809220/swansway-motor-group-eupfOjJDkqQ-unsplash_nlhw7i.jpg); height: 100%; width: 100%;">
      <span>Born</span>
    </div>
  <% end %>

  <%= link_to tavascan_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600522/Cupra_Tavascan__IAA_Summit_2023__Munich__P1110846_ifak81.jpg); height: 100%; width: 100%;">
      <span>Tavascan</span>
    </div>
  <% end %>

  <%= link_to terramar_path, class: "seocard-category" do %>
    <div class="seocard-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dd7x7bqya/image/upload/w_600,q_auto,f_auto,c_fill/v1760600526/Cupra_Terramar_VZ_IMG_2330_yfhbvi.jpg); height: 100%; width: 100%;">
      <span>Terramar</span>
    </div>
  <% end %>

</div>
