 <% content_for :for_head do %>
  <title> <%= t('head.importacio') %> Cupra <%= t('head.importocotxe') %></title>
  <meta name='description' content="Importa tu coche Cupra a Andorra de manera fácil, rápida y segura con Importocotxe.">  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "name": "Modelos de Cupra",
    "description": "Descubre todos los modelos de coches Cupra que importamos desde Alemania a Andorra.",
    "url": "https://www.importocotxe.ad/es/marca/cupra-andorra",
    "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1668073646/Captura_de_pantalla_2022-11-10_a_las_10.46.10-removebg-preview_ry5s3a.png",
    "breadcrumb": {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "Marcas",
          "item": "https://www.importocotxe.ad/marca"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "Cupra",
          "item": "https://www.importocotxe.ad/es/marca/cupra-andorra"
        }
      ]
    },
    "mainEntity": {
      "@type": "ItemList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@type": "Product",
            "name": "Cupra Leon",
            "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/leon",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809221/nils-arfert-pZ-iur48Z3Y-unsplash_fnjpli.jpg",
            "description": "Cupra Leon, un coche deportivo con gran rendimiento y diseño atrevido.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 35000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/leon"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@type": "Product",
            "name": "Cupra Ateca",
            "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/ateca",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809221/45427233771_8487063e12_b_mrol0g.jpg",
            "description": "Cupra Ateca, un SUV compacto con gran potencia y tecnología avanzada.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 40000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/ateca"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@type": "Product",
            "name": "Cupra Born",
            "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/born",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809220/swansway-motor-group-eupfOjJDkqQ-unsplash_nlhw7i.jpg",
            "description": "Cupra Born, un coche eléctrico con gran autonomía y diseño moderno.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 45000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/born"
            }
          }
        },
        {
          "@type": "ListItem",
          "position": 4,
          "item": {
            "@type": "Product",
            "name": "Cupra Formentor",
            "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/formentor",
            "image": "https://res.cloudinary.com/dd7x7bqya/image/upload/v1711809221/marcel-hoberg-PGmkdB6YWbY-unsplash_a3vvyg.jpg",
            "description": "Cupra Formentor, un SUV deportivo con gran estilo y rendimiento.",
            "offers": {
              "@type": "Offer",
              "priceCurrency": "EUR",
              "price": 50000,
              "availability": "http://schema.org/InStock",
              "url": "https://www.importocotxe.ad/es/marca/cupra-andorra/formentor"
            }
          }
        }
      ]
    }
  }
  </script>
<% end %>
  <%@marca = "Cupra" %>
  <div style="background-color: white; margin-left:15px;">
    <%= link_to t('bread.inicio'), root_path, style:"text-decoration: none;" %>
    <%= link_to t('bread.mmarca'), marca_path, style:"text-decoration: none;" %>
    > Cupra
  </div>

    <%= render 'pages/cupra/titol' %>
    <%= render 'pages/cupra/modelos' %>
    <%= render 'pages/cupra/form' %>
    <%# <%= render 'pages/cupra/listing' %>
    <%= render 'pages/cupra/explicacion' %>
