<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :for_head %>
      <%= yield :for_head %>
    <% else %>
      <title>Importar Coche desde Alemania a Espa침a - Importocotxe</title>
      <meta name="description" content="Accede a todo el mercado europeo de coches premium. BMW, Mercedes, Audi, Porsche. Mejor precio, m치s opciones, gesti칩n completa. 7 a침os de experiencia.">
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path='favicon-2.ico'%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Analytics Scripts -->
    <script>function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"985f2f9898724005cecd5bf15058ab95"})});</script>

    <!-- Clientify Tracking -->
    <script type="text/javascript">
    if (typeof trackerCode ==='undefined'){
        (function (d, w, u, o) {
            w[o] = w[o] || function () {
                (w[o].q = w[o].q || []).push(arguments)
            };
            a = d.createElement('script'),
                m = d.getElementsByTagName('script')[0];
            a.async = 1; a.src = u;
            m.parentNode.insertBefore(a, m)
        })(document, window, 'https://analytics.clientify.net/tracker.js', 'ana');
        ana('setTrackerUrl', 'https://analytics.clientify.net');
        ana('setTrackingCode', 'CF-106957-106957-5VUHP');
        ana('trackPageview');
    }</script>
    <script defer src="https://analyticsplusdev.clientify.net/analytics_plus/pixel/AbyBB9gO1TJ62dOp"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NKGG9B6');</script>
  </head>

  <body style="margin: 0; padding: 0;">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKGG9B6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    <!-- CLEAN LANDING PAGE - NO NAVBAR, NO GLOBAL FOOTER, NO GLOBAL WHATSAPP -->
    <%= yield %>

    <!-- Clientify Forms Script -->
    <script src="https://mapa.clientify.net/v1/clientify.min.js"></script>
  </body>
</html>